.cards > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 125px;
  row-gap: 50px;
  padding: 0;
  align-items: center;
  list-style: none;
}

.cards > ul > li {
  border: none;
  background-color: none;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  text-align: center;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  /* aspect-ratio: 4 / 3; */
  object-fit: cover;
  opacity: 60%;
  max-width: 150px;
  cursor: pointer;
}

.cards > ul > li img:hover {
  opacity: 100%;
}
